.sth1 {

    width: 100px
}

.FirstName {
    width: 100px

}

.LastName {
    width: 100px
}

.font {
    font-family: Lucida "Lucida Grande", Lucida Sans Lucida Grande, sans unicode, Tahoma, sans-serif;
}